<a [routerLink]="['/']">Home</a>
<h2>{{phoneBookData.name}}</h2>
<div class="card mb-2">
  <div class="card-body">
    <h4>Create new</h4>
    <div class="form-group col-6">
      <input id="name" type="text" class="form-control" [(ngModel)]="newEntry.name" placeholder="Name" />
    </div>
    <div class="form-group col-6">
      <input id="number" type="text" class="form-control" [(ngModel)]="newEntry.phoneNumber" placeholder="Phone Number" />
    </div>
    <button class="btn btn-primary" (click)="addNew()">Add New</button>
  </div>
</div>

<div class="row">
  <div class="col">
    <table class="table table-bordered">
      <thead class="table-dark">
        <tr>
          <th>Name</th>
          <th>Phone Number</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><input id="searchName" type="text" class="form-control" [(ngModel)]="searchName" placeholder="search name" /></td>
          <td><input id="searchNumber" type="text" class="form-control" [(ngModel)]="searchNumber" placeholder="search number" /></td>
          <td>&nbsp;</td>
        </tr>
        <tr *ngFor="let entry of phoneBookEntryFilter()">
          <td>{{entry.name}}</td>
          <td>{{entry.phoneNumber}}</td>
          <td><button class="btn btn-danger" (click)="remove(entry.id)">Remove</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>